extends /blocks/layout-default/layout-default

block head
	- var pageTitle = '1vds test';

block content
	.container
		.title
			.title__wrap.logout-btn
				a.domain__btn.material__btn.material--red(href="/login.html" data-logout="logout") Выйти
		.title
			.title__wrap
				h1 WWW-домены
		nav.nav
			.nav__wrap
				.nav__navbar
					.toolbar
						form#domainform.material-input
							.group
								input#domainname(type="text" name="domainname" required)
								span.highlight
								span.bar
								label Имя домена

							.group
								input#domainemail(type="email" name="domainemail" required)
								span.highlight
								span.bar
								label Электронный адрес
							input#domain-create.material__btn.material--blue(type="submit" value="Создать")
				.nav__navbar
					.toolbar
						#domain-success-response
		hr
		.title
			.title__wrap
				h1 База данных
		nav.nav
			.nav__wrap
				.nav__navbar
					.toolbar
						form#dbform.material-input
							.group
								input#dbname(type="text" name="dbname" required)
								span.highlight
								span.bar
								label Название базы

							.group
								input#dbusername(type="text" name="dbusername" required)
								span.highlight
								span.bar
								label Имя пользователя
							.group
								input#dbpassword(type="password" name="dbpassword" required)
								span.highlight
								span.bar
								label Пароль
							.group
								input#dbconfirm(type="password" name="dbconfirm" required)
								span.highlight
								span.bar
								label Подтверждение
							input#db-create.material__btn.material--blue(type="submit" value="Создать")
				.nav__navbar
					.toolbar
						#db-success-response
