extends /blocks/layout-default/layout-default

block head
	- var pageTitle = '1vds test';

block content
	//- material input
	.box
		.box__container
			h1.box__title ISP manager
			form#loginform.material-input
				.group
					input#loginusername(type="text" name="username" required)
					span.highlight
					span.bar
					label Логин

				.group
					input#loginpassword(type="password" name="password" required)
					span.highlight
					span.bar
					label Пароль
				input#login-submit.material__btn.material--blue(type="submit" value="Войти")
